.modal-dialog {
  min-width: 90%;
  /* height: 900px; */
  max-height: 90vh;
}

.model-header {
  position: relative;
}
.searchInput {
  margin-left: 40px;
  padding: 5px 20px;
  width: 400px;
  border-radius: 20px;
}

.contact-info {
  position: absolute;
  right: 70px;
  top: 20px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-weight: bold;
}

.content-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100%;
  padding: 0;
  /* height: calc(90vh - 120px);
  max-height: calc(90vh - 120px); */
}
.content-container,
.nav-container,
.text-container {
  max-height: calc(90vh - 71px);
}

.nav-container,
.text-container {
  overflow: hidden scroll;
}

.nav-container {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
  box-shadow: 5px 0 5px -2px #888;
}

.section-header {
  font-size: 1.5rem;
  position: sticky;
  height: 50px;
  top: 0;
  z-index: 9;
  background-color: red;
  color: white;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.text-container {
  padding: 20px 40px;
  overflow: hidden scroll;
}

.text-container h2 {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5em 0;
  border-bottom: 2px solid black;
  position: relative;
}

/* This is called the 'lobotomized owl' - it targets all elements in the document that are preceeded by an element */
/* Read more here: https://alistapart.com/article/axiomatic-css-and-lobotomized-owls/ */
.text-container * + * {
  margin-top: 1.5em;
}

.text_callout-highlight,
.text_callout-warning {
  border-radius: 15px;
  margin: 0 10px 10px;
  padding: 20px;
  /* max-width: 80%; */
}

.text_callout-highlight {
  background-color: green;
  color: white;
}

.text_callout-warning {
  background-color: pink;
}

ul {
  list-style: none;
}

@media screen and (min-width: 2194px) {
  .text-container h2::before {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: red;
    left: 200px;
    top: 50%;
    position: absolute;
  }
  .text-container h2::after {
    content: "";
    display: block;
    width: 150px;
    height: 5px;
    background: red;
    right: 200px;
    top: 50%;
    position: absolute;
  }
}

@media screen and (min-width: 1366px) {
  .text-container {
    padding: 20px 80px;
  }
  .contact-info {
    right: 120px;
  }
}
