.site-nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  gap: 10px;
  background-color: gray;
  padding: 20px 0;
  margin-top: 10px;
  border-radius: 15px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: minmax(150px, 200px);
  height: 80%;
  border: 2px solid transparent;
}

.nav-item > a {
  text-decoration: none;
  color: inherit;
}

.nav-item:hover {
  border: purple 2px solid;
}
